@import "tailwindcss";

/* tell Tailwind what triggers dark mode */
/* @variant dark (&:where(.dark, .dark *)); */

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #C59B3C;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a87f2d;
}