backend:
  name: github
  repo: Azouz678/electros-store
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "categories"
    label: "Categories"
    folder: "content/categories"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }

  - name: "products"
    label: "Products"
    folder: "content/products"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Price", name: "price", widget: "string" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Category slug", name: "category", widget: "string" }
      - { label: "Description", name: "body", widget: "markdown" }